html {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #207178;
    color: #ffffff;
}

.upperLogo {
    width: 6rem; 
}

.upperMenu{
    overflow: hidden;
    background-color: #207178;
    color: #ffffff;
}
a {
    font-weight: bold;
    color:#000000; 
}

.upperMenu a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: .5em .5em;
    text-decoration: none;
    border-radius: 25%;
}

.upperMenu a:hover:not(:first-child){
    color:#000000;
    text-shadow: .1em .01em #00A896;
}

.upperMenu a.activeOption {
    background-color: #207178;
}

.menuIcon img {
    width: 1.5em;
    border: 1px solid #207178;
}
.upperMenu a:not(:first-child) {
    display: none;
}
.upperMenu a.menuIcon {
    float: right;
    display: block;
}

.upperMenu.responsive {
    position: relative;
}

.upperMenu.responsive .menuIcon {
    position: absolute;
    right: 0;
    top: 0;
}

.upperMenu.responsive a {
    float: none;
    display: block;
    text-align: left;
}

#upperDial{
    display: block;
    position: absolute;
    top: .3em;
    right: 3em;
}
#upperDial img{
    width: 1em;
}

footer {
    background-color: #207178;
    color: #ffffff;
    font-size: .9em;;
}

.lowerMenu { 
    display: grid;
    grid-template-columns: 70% auto;
}
#lowerPrivacy{
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}
#lowerAddress{
    grid-area: 2 / 1 / 4 / 3;
    text-align: center; 
}
#lowerLogo{
    width: 100%;
    grid-area: 1 / 3 / 2 / 3;
    text-align: center;
}
 
#lowerSocial{ 
    grid-area: 2 / 3 / 3 / 4;
}
#lowerUpdatedate{
    grid-area: 4 / 1 / 5 / 5;
    background-color: #00A896;
}

img.lowerLogo{
    width: 3em;
    position: absolute;
    right: 1em;
}




 

.lowerMenu ul {
    padding: .5em .5em;
    text-align: center;
    justify-content: center;
}

.addressAndMail li {
    list-style: none;
    padding-left: .5em;
    padding-right: .5em;
}

.lowerMenu a { 
    display: block;
    color: #ffffff; 
    text-decoration: none;
}

.addressAndMail li{
    text-decoration: none;
}

.lowerMenu a:hover:not(:first-child){
    color:#000000;
    text-shadow: .1em .01em #00A896;
}
.lowerMenu a:hover:not(:first-child){
    color:#000000;
    text-shadow: .1em .01em #00A896;
}

.lowerMenu a.activeOption {
/*background-color: #207178;*/
}

.socialIcon{
    width: 2em;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #00A896;
    border-radius: 50%;
    margin: .5em;
}

li.socialIconList{
    align-content: center;
}
.describeSocial{
    display: none;
}
 

form {
    display: flex;
    flex-direction: column;
}
 
input{
    border: 1px solid #207178;
    background-color: #ffffff;
}
input[type=submit] {
    background-color: #207178;
    color: white;
    padding-top: .3em;
}

#bookingForm{
    position: relative;
}
.sectionInfo{
    position: absolute;
    bottom: .7em;
    right: .7em;
    background-color: rgb(32,113,120, .8);
    color: #ffffff;
    padding: .7em; 
}
.homeImageStock{
    width:100%;
}
.fieldDescription {
    font-size: .9em;
    font-weight: bold;
}

.templeStyle {
    width: 100%;
    max-width: 50em;
    border: 2px solid #00A896;
    box-shadow: .1em .1em .8em .1em #15434a;
    text-align: center;
    
}

.templeStyle img {
    width: 100%;
    max-width: 50em;
}

.likeNo{
    background-color: transparent;
    border: none;
}

.cards {
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
}


#weather {
    max-width: 50em;
    background-color: #ffffff;
    border: 2px solid #00A896;
    box-shadow: .1em .1em .8em .1em #15434a;

}
.capitalizeClass {
    text-transform: capitalize;
}

.weatherCard {
    width: 100%;
    max-width: 30em;
    color: #000000;
    display: flex;
    flex-direction: column;
}
.weatherCard img{
    width: 100%;
    max-width: 10em;
}
.weatherCardForecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tempVar {
    font-size: 2em;
    font-weight: bold;
}


/*Other sizes*/
@media (min-width: 32.5em) {
    .templeStyle {
        width: 50%;
        max-width: 15em;
    }
    .templeStyle img {
        width: 100%;
        max-width: 25em;
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 51em) {
    .upperMenu a.menuIcon {
        float: right;
        display: none;
    }
    .upperMenu a:not(:first-child,:last-child) {
        display: block;
    }
    .describeSocial{
        display: inline;
    }
    .lowerMenu { 
        grid-template-columns: auto 60% auto;
    }
    #lowerAddress{
        grid-area: 1 / 2 / 3 / 3;
        text-align: center; 
    }
    #upperDial{
        display: none;
    }
    .templeStyle img{
        width: 250px;
    }

    .templeStyle {
        width: 100%;
        max-width: 25em;
    }
    .templeStyle img {
        width: 100%;
        max-width: 25em;
    }
    .cards{
        grid-column: span 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

#atributions{
    width: 100%;
    padding: 1em;
}
#atributions th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #00A896;
    color: white;
  }

#atributions tr:nth-child(even){background-color: #f2f2f2;}
#atributions td{
    border: .1em solid #207178;
}

